.counter {
  display: flex;
  justify-content: space-evenly;
  padding: 18px 0;
}

.column {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #999;
  font-weight: 700;
  background-color: transparent;
}

.column span {
  color: #FFF;
}
