.middle {
  display: flex;
  justify-content: space-evenly;
  background: #292929;
  padding: 20px 0;
}

.column {
  display: flex;
  align-items: end;
  gap: 8px;
  line-height: 120.023%;
}

.title {
  font-weight: 400;
  font-size: 14px;
}

.title span {
  color: #999;
  font-size: 14px;
}

.num {
  font-size: 18px;
  font-weight: 700;
}
