@import url("public/noto-sans/noto-sans.css");

:root {
  view-transition-name: root !important;

  --head-size: 30px;
  --subhead-size: 20px;
  --base-size: 16px;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: .1s;
}


html {
  font-family: 'Noto Sans', sans-serif;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
}

* {
  font-family: Noto Sans, sans-serif;
}

body {
  color: white;
  background: #191919;
  display: flex;
  flex-direction: column;
}